#menu {
	align-content: center;
}

button {

}

#header {
	align-content: center;
}

h2 {
	
}

#Qui {
	text-align: justify;
}

#Contact {

}

label {
	display: block;
	width: 300px;
	float: left;
}

#formulaire {
	font-size: 12px;
}

#SUivre {
	align-content: 
}

